<div class="Books details">
  <h2>Book Details</h2>

  <%= form_for(@book, method: 'details') do |f| %>
    <% # url: book_path(@Book), method: 'details' %>

    <p>Title: <%= @book.title %></p>

  <% end %>
</div>

<%= link_to("Back to Books", books_path, class: 'back-link') %>